.feynman__link{
    position:absolute;
   right:48px;
   left:auto;
   top:50%;
   text-decoration: none;
   text-align:right;
    line-height:51px;
    font-weight: normal;
    font-size:36px;
    color:#2f80ed;
  }