.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position:relative;
  overflow: hidden;
}

.flex-row{
  display:flex;
}

.flex-column{
  display:flex;
  flex-direction: column;
}

.flex-row-reverse{
  display:flex;
  flex-direction:row-reverse;
}

.flex_column_right_place_header{
  margin-left:auto;
}

.logo{
  width: 228px;
  height: 32px;
  z-index: 1;
}

.header__title{
  width:730px;
  margin-left: 64px;
  margin-top:auto;
  margin-bottom:auto;
  z-index:2;
}

.header__title-text{
  font-size: 102px;
  line-height: 96px;
  font-weight:600;
}

.header__subtitle{
  position:absolute;
  bottom:30px;
  left:64px;
  width:338px;
  z-index:2;
}

.header__subtitle-text{
  font-size: 18px;
  line-height:25px;
  font-weight:normal;
}

.header__main-illustration{
  position:absolute;
  width:765px;
  height:608px;
  right:0;
  bottom:0;
  z-index:1;
}

.header__square-pic{
  position: absolute;
  width:568px;
  height: 569px;
  top:64px;
  right:0;
  background-position:center;
  background-size:cover;
  background-color:#2f80ed;
  z-index:0;
}

.logo_place_header{
  position: absolute;
 top:30px;
 left:64px;
 background-image: url(../images/logo_place_header.svg);
}

.content_title{
  width:730px;
  margin-left:64px;
 flex-direction: column-reverse;
}

.two-columns{
  margin-top:100px;
  margin-bottom:100px;
  justify-content: space-between;
  width:80%;
  margin-left:auto;
  margin-right:auto;
}

.brief{
  width:175px;
}

.brief__text{
  line-height: 21px;
  font-size:18px;
  color:#2f80ed;
  font-weight:normal;
}

.main-text{
  width:80%;
  min-width:784px;
}

.p-text{
  line-height: 34px;
  font-size:24px;
  font-weight:normal;
}

.span{
  margin-top:30px;
  margin-bottom:30px;
  font-weight:600;
  line-height:34px;
  font-size:24px;
}

.digits{

}

.section-title{
  margin-top:100px;
  width:60%;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
}

.title_place_digits{
  text-align: center;
  font-size:60px;
  line-height:69px;
  font-weight:600;
}

.section-subtitle{
  width:60%;
  margin-left:auto;
  margin-right:auto;
}

.subtitle_place_digits{
  text-align: center;
  line-height:34px;
  font-size:24px;
  font-weight:normal;
}

.table{
  display:flex;
  width:1100px;
  flex-wrap:wrap;
  margin-bottom:100px;
  margin-right:auto;
  margin-left:auto;
  justify-content: space-between;
}

.cell{
  margin-top:60px;
  width:250px;
}

.table__text-info{
  margin-top:20px;
}

.digits__title-info{
line-height:27px;
font-size:24px;
font-weight:600;
}

.digits__text-info{
  line-height:21px;
  font-size:18px;
  font-weight: normal;
}

.feynman{
  background-color: #f2f2f2;
  position: relative;
  z-index: -4;
}

.feynman__title{
  width:648px;
  margin-top:100px;
  margin-left:auto;
  margin-right:auto;
  z-index:-2
}

.feynman__title-text{
  font-size:120px;
  font-weight:600;
  line-height: 120*1.15;
text-align: center;
}

.feynman__subtitle{
  margin-top:70px;
  z-index:-2
}

.feynman__subtitle-text{
  font-size:36px;
  line-height:51px;
  text-align: center;
}

.feynman__link{
  position:absolute;
 right:48px;
 left:auto;
 top:50%;
 text-decoration: none;
}

.feynman__link-text{
  text-align:right;
  line-height:51px;
  font-weight: normal;
  font-size:36px;
  color:#2f80ed;
}

.link_decoration_none{
  text-decoration:none;
}

.feynman__main_illustration{
  position:absolute;
  bottom:0;
  left:0;
  width:867px;
  height:637px; 
  z-index: -3;
}

.kaufman{
  background-color:#1f1f1f;
  position:relative;
  overflow: hidden;
  z-index: -2;
}

.kaufman__title{
  width:60%;
  margin-top:90px;
  margin-left:auto;
  margin-right:auto;
  margin-top:90px;
}

.kaufman__title-text{
  text-align: center;
  line-height:69px;
  font-size:60px;
  font-weight:600;
}

.table_theme_dark{
  display:flex;
  flex-wrap:wrap;
  width:1100px;
  margin-bottom:90px;
  margin-right:auto;
  margin-left:auto;
  justify-content: space-between;
}

.kaufman__subtitle{
  width:60%;
  margin-top:20px;
  margin-right:auto;
  margin-left:auto;
}

.kaufman__subtitle-text{
  text-align:center;
  line-height:34px;
  font-size:24px;
  font-weight:normal;
}

.theme_color_dark{
  color:white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.title_place_kaufman{
  font-size:60px;
  line-height:69px;
  font-weight:600;
}
.subtitle_place_kaufman{
  font-size:24px;
  line-height:34px;
  font-weight: normal;
}

.kaufman__title_info{
  line-height:27px;
  font-size:24px;
  font-weight:600;
}

.kaufman__text-info{
  line-height: 1.2;
  font-size:18px;
  font-weight: normal;
}

.caufman__main-img{
  position:absolute;
  right:-210px;
  top:0;
  width:877px;
  height:877px;
  z-index: -1;
}

.footer{
  min-height:350px;
  background-color:#1f1f1f;
}

.columns{
  margin-top:60px;
  margin-bottom:40px;
  width:90%;
  margin-left:auto;
  margin-right:auto;
}

.column_content_copyright{
  justify-content:space-between;
  flex-basis: 711px;
}

.about{
  width:50%;
}
.column_content_info{
  width:50%;
}

.column_content_social{
  width:50%;
}
.footer__author-text{
  line-height:25px;
  font-size:18px;
  font-weight:normal;
}

.footer__column-link{
  display:flex;
  align-items: center;
  justify-content:flex-start;
  column-gap: 10px;
  margin-top:20px;
  margin-bottom:16px;
  column-gap: 18px;
}

.column_heading-text{
  line-height:30px;
  font-size:18px;
  font-weight:normal;
  text-align: center;
}

.column-links{
  line-height:30px;
  font-size:18px;
  font-weight:normal;
}

.footer-box{
  width:50%;
}

.footer_border{
  display:flex;
  width:50%;
  align-self: flex-start;
  justify-content:flex-start;
}

.logo_place_footer{
  background-image: url(../images/logo_place_footer.svg);
  z-index:1;
}

